@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body {
  padding: 0;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 20px;
  line-height: 38px;
  background-color: black;
  color: white; 
}

canvas {
  display: block;
}

#home {
  margin: 102px 300px;
}

#ace a {
  color: white;
}

#ace a:hover {
  background-color: white;
  color: black;
}

#return {
  position: absolute;
  left: 24px;
  top: 24px;
  font-family: "JetBrains Mono", serif;
  font-size: 20px;
  /* color: black; */
  color: white;
  text-decoration: none;
}

#return:hover {
  /* background-color: black;
  color: white;  */
  background-color: white;
  color: black;
}

#back {
  color: white;
  color: black;
}


#bang a {
  color: red;
}

#bang a:hover {
  background-color: red;
  color: black;
}

#name a {
  color: gold;
  /* color: green; */
}

#name a:hover {
  background-color: gold;
  /* background-color: green; */
  color: black;
}

#choices a {
  /* color: blue; */
  color: #2483FF;
}

#choices a:hover {
  /* background-color: blue; */
  background-color: #2483FF;
  color: black;
}

#dream a {
  color: limegreen;
}

#dream a:hover {
  background-color: limegreen;
  color: black;
}